<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add/Edit Task</title>
    <link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
<script src="js/dark-mode.js" defer></script>

</head>
<body>
    <!-- <div class="top">
        <div class="profile"></div>
        <div class="logo">PRIORITIME</div>
        <div class="info"></div>
    </div>
     -->
     <div class="form-container">

    <form action="/add-task" method="POST">
        <% if (task) { %>
            <input type="hidden" name="id" value="<%= task._id %>">
        <% } %>
        <div>
            <label for="title">Task Title:</label>
            <input type="text" id="title" name="title" value="<%= task ? task.title : '' %>" required>
        </div>
        <div>
            <label for="description">Task Description:</label>
            <input type="text" id="description" name="description" value="<%= task ? task.description : '' %>" >
        </div>
        <div>
            <label for="quadrant">Quadrant:</label>
            <select name="quadrant" id="quadrant" required>
                <option value="importantUrgent" <%= task && task.quadrant === 'importantUrgent' ? 'selected' : '' %>>Important and Urgent</option>
                <option value="importantNotUrgent" <%= task && task.quadrant === 'importantNotUrgent' ? 'selected' : '' %>>Important and Not Urgent</option>
                <option value="notImportantUrgent" <%= task && task.quadrant === 'notImportantUrgent' ? 'selected' : '' %>>Not Important and Urgent</option>
                <option value="notImportantNotUrgent" <%= task && task.quadrant === 'notImportantNotUrgent' ? 'selected' : '' %>>Not Important and Not Urgent</option>
            </select>
        </div>
        <button type="submit"><%= task ? 'Update Task' : 'Add Task' %></button>
        <button type="button" onclick="location.href='/'">Cancel</button>
    </form>
</div>
<script src="js/dark-mode.js"></script>
</body>
</html>  
